<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="PaletteNodeSection" type="TNT.Configuration.PaletteNodeConfigurationSection, TNT.Configuration"/>
		<section name="CAD" type="TNT.Configuration.XmlSection`1[[LSDComponents.Settings.CADSettings,LSDComponents]], TNT.Configuration"/>
		<section name="PluginSection" type="TNT.Configuration.XmlSection`1[[System.Collections.Generic.List`1[[TNT.Plugin.Plugin, TNT.Plugin]], mscorlib]],TNT.Configuration"/>
		<section name="TNT.Web" type="TNT.Configuration.XmlSection`1[[TNT.Web.RESTClient,TNT.Web]],TNT.Configuration"/>
	</configSections>
	<connectionStrings>
		<add name="SQLite" connectionString="data source=inventory.sqlite"/>
	</connectionStrings>
	<PaletteNodeSection>
		<PaletteFile value="lsd.palette"/>
	</PaletteNodeSection>
	<PluginSection>
		<References>
			<Reference Assembly="TNT.LSD.Plugins.dll" BaseType="TNT.Plugin.Plugin,TNT.Plugin"/>
		</References>
		<ArrayOfPlugin>
			<Plugin type="DGVPartsEditorPlugin">
				<DestinationMenuStrip>MenuStrip1</DestinationMenuStrip>
				<DestinationMenu>&amp;Tools</DestinationMenu>
				<DestinationToolStrip>ToolStrip2</DestinationToolStrip>
				<TrailingMenuSeparator>true</TrailingMenuSeparator>
				<ToolStripMergeIndex>99</ToolStripMergeIndex>
			</Plugin>
			<Plugin type="ExportSSCPDFPlugin">
				<DestinationMenuStrip>MenuStrip1</DestinationMenuStrip>
				<DestinationMenu>&amp;File</DestinationMenu>
				<MenuMergeIndex>8</MenuMergeIndex>
				<DestinationToolStrip>ToolStrip1</DestinationToolStrip>
				<TrailingButtonsSeparator>true</TrailingButtonsSeparator>
				<ToolStripMergeIndex>4</ToolStripMergeIndex>
			</Plugin>
		</ArrayOfPlugin>
	</PluginSection>
	<TNT.Web>
		<RESTClient>
			<BaseEndPoint>http://landscapesprinklerdesign.com/api/</BaseEndPoint>
		</RESTClient>
	</TNT.Web>
	<CAD>
		<References>
			<Reference Assembly="LSDComponents.dll" BaseType="LSDComponents.Settings.CADSettings,LSDComponents"/>
		</References>
		<CADSettings type="SSCSettings">
			<!--Culinary Settings-->
			<CulinarySize>NA</CulinarySize>
			<CulinaryType>NA</CulinaryType>
			<CulinaryPSI>NA</CulinaryPSI>
			<IncludeCulinarySW>NA</IncludeCulinarySW>
			<!--Layout Settings-->
			<DrawUnits>true</DrawUnits>
			<_GridColor>-2039584</_GridColor>
			<GridColorAlphaValue>150</GridColorAlphaValue>
			<HeightInFeet>150</HeightInFeet>
			<WidthInFeet>150</WidthInFeet>
			<!--Part Options-->
			<LateralDrains>2</LateralDrains>
			<MainlineDrains>2</MainlineDrains>
			<RoundPipe>true</RoundPipe>
			<ShowExtCodes>true</ShowExtCodes>
			<!--Secondary Settings-->
			<SecondarySize>NA</SecondarySize>
			<SecondaryType>NA</SecondaryType>
			<SecondaryPSI>NA</SecondaryPSI>
			<IncludeSecondarySW>NA</IncludeSecondarySW>
			<ShowExternalCodes>true</ShowExternalCodes>
			<StaticParts>
				<Part>
					<Code>TT075</Code>
					<Quantity>1</Quantity>
				</Part>
				<Part>
					<Code>CEBCQT</Code>
					<Quantity>1</Quantity>
				</Part>
				<Part>
					<Code>CEPPPT</Code>
					<Quantity>1</Quantity>
				</Part>
			</StaticParts>
		</CADSettings>
	</CAD>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
