<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="PaletteNodeSection" type="TNT.Configuration.PaletteNodeConfigurationSection, TNT.Configuration"/>
		<section name="CAD" type="TNT.Configuration.XmlSection`1[[TNT.LSD.Settings.LSDSettings,TNT.LSD.Settings]], TNT.Configuration"/>
		<section name="TNT.Web" type="TNT.Configuration.XmlSection`1[[TNT.Web.RESTClient,TNT.Web]],TNT.Configuration"/>
	</configSections>
	<connectionStrings>
		<add name="SQLite" connectionString="data source=inventory.sqlite"/>
	</connectionStrings>
	<PaletteNodeSection>
		<PaletteFile value="lsd.palette"/>
	</PaletteNodeSection>
	<TNT.Web>
		<RESTClient>
			<BaseEndPoint>http://landscapesprinklerdesign.com/api/</BaseEndPoint>
		</RESTClient>
	</TNT.Web>
	<CAD>
		<LSDSettings type="TNT.LSD.Settings.SSCSettings,TNT.LSD.Settings">
			<!--Culinary Settings-->
			<CulinarySize>NA</CulinarySize>
			<CulinaryType>NA</CulinaryType>
			<CulinaryPSI>NA</CulinaryPSI>
			<IncludeCulinarySW>NA</IncludeCulinarySW>
			<!--Layout Settings-->
			<DrawUnits>true</DrawUnits>
			<_GridColor>-2039584</_GridColor>
			<GridColorAlphaValue>50</GridColorAlphaValue>
			<HeightInFeet>150</HeightInFeet>
			<WidthInFeet>150</WidthInFeet>
			<!--Part Options-->
			<LateralDrains>2</LateralDrains>
			<MainlineDrains>2</MainlineDrains>
			<RoundPipe>true</RoundPipe>
			<ShowExtCodes>true</ShowExtCodes>
			<!--Secondary Settings-->
			<SecondarySize>NA</SecondarySize>
			<SecondaryType>NA</SecondaryType>
			<SecondaryPSI>NA</SecondaryPSI>
			<IncludeSecondarySW>NA</IncludeSecondarySW>
			<ShowExternalCodes>true</ShowExternalCodes>
			<StaticParts>
				<Part>
					<Code>TT075</Code>
					<Quantity>1</Quantity>
				</Part>
				<Part>
					<Code>CEBCQT</Code>
					<Quantity>1</Quantity>
				</Part>
				<Part>
					<Code>CEPPPT</Code>
					<Quantity>1</Quantity>
				</Part>
			</StaticParts>
		</LSDSettings>
	</CAD>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
</configuration>
