<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.0" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net45" developmentDependency="true" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net45" />
  <package id="TNT.AssemblyInfo" version="1.2.2" targetFramework="net45" />
  <package id="TNT.Configuration" version="1.2.937.937" targetFramework="net45" />
  <package id="TNT.Plugin" version="1.2.50.1019" targetFramework="net45" />
  <package id="TNT.Plugin.Manager" version="17.8.8.1742" targetFramework="net45" />
  <package id="TNT.Utilities" version="17.3.11.2027" targetFramework="net45" />
  <package id="TNT.Web" version="17.2.1.2058" targetFramework="net45" />
  <package id="TNT.Web.LSD.Models" version="1.0.0" targetFramework="net45" />
</packages>